<h1>Sign in</h1>

<%= form_for(:session, :url => sessions_path) do |f| %>
<table>
  <tr>
  <div class="field">
    <td><%= f.label :email %><br /></td>
    <td><%= f.text_field :email %></td>
  </div>
</tr>
<tr>
  <div class="field">
    <td><%= f.label :password %><br /></td>
    <td><%= f.password_field :password %></td>
  </div>
</tr>
<tr>
  <div class="actions">
    <td><%= f.submit "Sign in" %></td>
  </div>
</tr>
</table>
<% end %>
<p>New user? <%= link_to "Sign up now!", signup_path %></p>

