<h1>Listing movies</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Pal</th>
    <th>Rating</th>
    <th>Comments</th>
    <th></th>
  </tr>

<% @movies.each do |movie| %>
  <tr>
    <td><%= link_to truncate(movie.title,:length => 20, :omission =>"..."), movie %></td>
    <td><%= truncate(movie.pal,:length => 12, :omission =>"...") %></td>
    <td><%= movie.rating %></td>
    <td><%= movie.comments.count %></td>
    <td><%= link_to '[x]', movie, :confirm => 'Deleting entry. Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Movie', new_movie_path %>
