<h1><%= @movies_total%> movies aboard</h1>

<h4>Can´t find it? Add a <%= link_to "new Movie", new_movie_path%></h4>
<table>
<%= page_entries_info @movies %> <%= will_paginate %>
<tr><strong><th>Title</th> <th>Total ratings</th><th>Your rating</th></strong></td>
    <%= render @movies %>  
</table
<%= will_paginate %>

