<table class="profile" summary="Movie information">
  <tr>
    <td class="main">
      <h1>
        "<%= @movie.title %>"
      </h1>
      <p>
      <% unless @movie.ratings.empty? %>
        <h4>Top <%= pluralize(@rating_best.count, "rater") %>: </h4> 
        <ol>
        <% @rating_best.each do |best|%>
          <li><%= best.user.name%> with <%= best.grade %> point.
          <% end %>
         </ol>
         <h4> We got <%= pluralize(@ratings.count, "rating")  %> so far: </h4>
        <table class="ratings">
          <%= render "ratings", :collection => @ratings %>
        </table>
        <%= will_paginate @ratings %>
      <%else %>
        Has no ratings no far.
      <%end %>
  </td>
    
    </td>
    <td class="sidebar round">
      <strong>Title</strong>: <%= truncate(@movie.title,:length => 20) %><br />
      <strong>URL</strong>:  <%= link_to movie_path(@movie), @movie %><br />
      <strong>Added</strong> <%= time_ago_in_words(@movie.created_at) %> ago.<br />
      <strong>Ratings</strong>: 0<br />
      <strong>Average rating</strong>: 0<br />
      <% if current_user.admin? %>
        admin=> <%= link_to "Delete", @movie, :method => :delete, :confirm => "Deleting movie #{@movie.title}, You sure?" %><br />
        admin=> <%= link_to "Edit", edit_movie_path(@movie) %>
      <% else %>
        <%= mail_to "PalFlix@brunosan.eu", name= "Request edit", :subject => "Edit request for '#{@movie.title}'", :body => "#{movie_url(@movie)} \n Please specify suggested edit.\n Thanks!" %><br />
        <%= mail_to "PalFlix@brunosan.eu", name= "Request delete", :subject => "Delete request for '#{@movie.title}'", :body => "#{movie_url(@movie)} \n Please specify reason to delete.\n Thanks" %>
      <% end %>
    </td>
  </tr>
</table>

