<h1>Edit user</h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <table>
    <tr>
  <div class="field">
    <td><%= f.label :name %></td>
    <td><%= f.text_field :name %></td>
  </div>
</tr>
<tr>
  <div class="field">
    <td><%= f.label :email %></td>
    <td><%= f.text_field :email %></td>
  </div>
</tr>
<tr>
  <div class="field">
    <td><%= f.label :password %></td>
    <td><%= f.password_field :password %></td>
  </div>
</tr>
<tr>
  <div class="field">
    <td><%= f.label :password_confirmation, "Confirmation" %></td>
    <td><%= f.password_field :password_confirmation %></td>
    </div>
  </tr>
  <tr>
  <div class="actions">
    <td><%= f.submit "Update" %></td>
  </div>
</tr>
</table>
<% end %>

<table>
  <div>
    <tr>
      <td><%= gravatar_for @user %><a href="http://gravatar.com/emails">Change picture</a></td>
    </tr>
  </div>
</table>
