<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name.split.first %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %><br />
      <% if @user == current_user   %>
        <strong><%= link_to "Edit your profile", edit_user_path(@user) %></strong> 
      <% end %>
    </td>
  </tr>
</table>

