<h1>Hello Pal!</h1>

<% if signed_in? %>
  We missed you,  <%= current_user.name.split.first %>!
<% else %>
  <%= time_ago_in_words(@last_login) %> since the last Pal signed out. <%= link_to "Come in!", signin_path %>
<% end %>
<p>
So far, we´ve got <%= @users_total %> <%= link_to "Pals", users_path %>
, <%= @ratings_total %> <%= link_to "ratings", ratings_path %>
, and <%= @movies_total %> <%= link_to "movies", movies_path %>.

<p>
<% if signed_in? %>
<table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <li>You made <%= link_to current_user.ratings.count, current_user %> ratings.
        <li>See current <%= link_to "movies", movies_path %> .
        <li>Add a <%= link_to " new movie", new_movie_path %>.
        <li>Visit your <%= link_to "profile", current_user %>.
        </ul>
      </td>
    </tr>
  </table>
<% else %>
  You are not logged in, so you can only see a list of individual <%= link_to "ratings", ratings_path %> .
  <p>
  <%= link_to "Log in", signin_path  %> to add and rate your movies. <br />
 <strong> New user?</strong>, then <%=link_to "Join us", signup_path %>
 <% end %>
